* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#app {
  min-height: 60vh;
}
#app .prompt {
  width: 100%;
  text-align: center;
  margin-top: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  width: 100%;
  margin: 0 auto;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav a {
  text-decoration: none;
  color: #000;
}
nav .logo {
  width: 10%;
  display: flex;
  align-items: center;
}
nav .logo img {
  height: 73px;
}
nav .logo h3 {
  margin-bottom: 0px;
  font-size: 16px;
}
nav .search {
  width: 35%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #c4d0d3;
}
nav .search img {
  width: 25px;
}
nav .search input {
  background: none;
  border: none;
  height: 100%;
  width: 90%;
}
nav .links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .links img {
  width: 47px;
  margin-left: 5px;
}
nav .links #user, nav .links #cart {
  display: flex;
  align-items: center;
}
nav .icon {
  display: none;
}

.mobileNav {
  display: none;
  width: 100%;
  background-color: rgba(88, 124, 131, 0.8);
}
.mobileNav a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin: 2% 10%;
  text-align: right;
}

.visible {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    min-height: 110px;
  }
  nav .links {
    width: 100%;
    display: block;
    display: none;
  }
  nav .icon {
    display: block;
    width: 10%;
  }
  nav .icon i {
    font-size: 42px;
  }
}
@media screen and (max-width: 425px) {
  nav {
    width: 100%;
    min-height: 110px;
    justify-content: space-between;
  }
  nav .logo {
    width: 10%;
    font-size: 13px;
  }
  nav .logo img {
    height: 30px;
    margin-left: 2px;
  }
  nav .logo h3 {
    margin-bottom: 0px;
    font-size: 12px;
  }
  nav .search {
    width: 35%;
  }
  nav .search img {
    width: 16px;
  }
  nav .links {
    width: 100%;
    display: block;
    display: none;
  }
  nav .icon {
    display: block;
    width: 10%;
  }
  nav .icon i {
    font-size: 30px;
  }
}
footer {
  width: 100%;
  height: 92px;
  margin-top: 175px;
  background-color: #587C83;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 100px;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
footer .copyright {
  width: 20%;
}
footer .copyright p {
  margin: 0px;
  padding: 0px;
}
footer .links {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
footer .links a {
  color: #fff;
  text-decoration: none;
}
footer .icons {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
footer .icons img {
  width: 44px;
}

@media screen and (max-width: 768px) {
  footer {
    justify-content: space-around;
    padding: 0px;
  }
  footer .icons {
    justify-content: space-around;
  }
  footer .icons img {
    width: 22px;
  }
}
@media screen and (max-width: 425px) {
  footer {
    justify-content: space-between;
  }
  footer .icons {
    width: 10%;
    flex-direction: column;
  }
}
.home-wrapper {
  width: 95%;
  margin: 0 auto;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-wrapper .home-hero {
  margin: 160px 0px;
  width: 80%;
  height: 530px;
  position: relative;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url("../images/home-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-wrapper .home-hero .hero-text {
  position: absolute;
  right: 20%;
  top: 40%;
  color: #fff;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.home-wrapper .home-hero .hero-text h2 {
  font-size: 32px;
  margin-bottom: 0px;
}
.home-wrapper .featured-books {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-wrapper .featured-books .book {
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.home-wrapper .featured-books .book .book-cover {
  overflow: hidden;
  width: 305px;
  height: 490px;
}
.home-wrapper .featured-books .book .book-cover img {
  height: 100%;
}
.home-wrapper .featured-books .book p {
  margin: 50px 0px;
}
.home-wrapper .featured-books .book button {
  width: 225px;
  height: 70px;
  text-transform: uppercase;
  background-color: #fff;
  margin-top: 40px;
}
.home-wrapper .featured-books .book button:hover {
  cursor: pointer;
  background-color: rgba(88, 124, 131, 0.6);
}

@media screen and (max-width: 768px) {
  .home-wrapper .home-hero {
    width: 100%;
  }
  .home-wrapper .featured-books {
    flex-direction: column;
  }
  .home-wrapper .featured-books .book {
    margin-bottom: 50px;
    width: 90%;
  }
}
.about-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-wrapper .about-section {
  width: 90%;
  min-height: 600px;
  margin: 150px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-wrapper .about-section .image {
  width: 395px;
  height: 590px;
  overflow: hidden;
}
.about-wrapper .about-section .image img {
  height: 100%;
}
.about-wrapper .about-section .text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 70%;
}
.about-wrapper .about-section .text h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}
.about-wrapper .about-section .text h2 {
  font-size: 26px;
  text-align: center;
}
.about-wrapper .about-section .text p {
  margin: 100px 0px;
}

@media screen and (max-width: 768px) {
  .about-wrapper .about-section {
    width: 98%;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .about-wrapper .about-section .image {
    width: 210px;
    height: 345px;
  }
  .about-wrapper .about-section .text h1, .about-wrapper .about-section .text h2 {
    font-size: 12px;
  }
  .about-wrapper .about-section .text p {
    font-size: 11px;
    margin: 50px 0px;
  }
}
@media screen and (max-width: 425px) {
  .about-wrapper .about-section {
    width: 98%;
    margin-top: 0px;
  }
  .about-wrapper .about-section .image {
    width: 100px;
    height: 150px;
  }
  .about-wrapper .about-section .text h1, .about-wrapper .about-section .text h2 {
    font-size: 12px;
  }
  .about-wrapper .about-section .text p {
    font-size: 11px;
    margin: 50px 0px;
  }
}
.books {
  margin: 0 auto;
  padding-top: 50px;
  width: 90%;
}
.books .category {
  margin: 150px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.books .category h1 {
  text-transform: uppercase;
}
.books .category .sets-row, .books .category .history-row, .books .category .horror-row, .books .category .childrens-row, .books .category .other-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.books .category .sets-row .book, .books .category .history-row .book, .books .category .horror-row .book, .books .category .childrens-row .book, .books .category .other-row .book {
  display: flex;
  width: 500px;
}
.books .category .sets-row .book .bookImage, .books .category .history-row .book .bookImage, .books .category .horror-row .book .bookImage, .books .category .childrens-row .book .bookImage, .books .category .other-row .book .bookImage {
  width: 40%;
  height: 315px;
  overflow: hidden;
  margin-right: 10px;
}
.books .category .sets-row .book .bookImage img, .books .category .history-row .book .bookImage img, .books .category .horror-row .book .bookImage img, .books .category .childrens-row .book .bookImage img, .books .category .other-row .book .bookImage img {
  width: 100%;
}
.books .category .sets-row .book .bookInfo, .books .category .history-row .book .bookInfo, .books .category .horror-row .book .bookInfo, .books .category .childrens-row .book .bookInfo, .books .category .other-row .book .bookInfo {
  width: 40%;
}
.books .category .sets-row .book .bookInfo button, .books .category .history-row .book .bookInfo button, .books .category .horror-row .book .bookInfo button, .books .category .childrens-row .book .bookInfo button, .books .category .other-row .book .bookInfo button {
  width: 90%;
  height: 70px;
  text-transform: uppercase;
  background-color: #fff;
  text-align: center;
}
.books .category .sets-row .book .bookInfo button:hover, .books .category .history-row .book .bookInfo button:hover, .books .category .horror-row .book .bookInfo button:hover, .books .category .childrens-row .book .bookInfo button:hover, .books .category .other-row .book .bookInfo button:hover {
  cursor: pointer;
  background-color: rgba(88, 124, 131, 0.6);
}

@media screen and (max-width: 768px) {
  .books {
    width: 95%;
  }
  .books .category {
    margin: 50px 0px;
    margin-bottom: 25px;
  }
  .books .category .sets-row, .books .category .history-row, .books .category .horror-row, .books .category .childrens-row, .books .category .other-row {
    flex-direction: column;
  }
  .books .category .sets-row .book, .books .category .history-row .book, .books .category .horror-row .book, .books .category .childrens-row .book, .books .category .other-row .book {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .books {
    width: 95%;
  }
  .books .category {
    margin: 50px 0px;
  }
  .books .category .sets-row, .books .category .history-row, .books .category .horror-row, .books .category .childrens-row, .books .category .other-row {
    flex-direction: column;
  }
  .books .category .sets-row .book, .books .category .history-row .book, .books .category .horror-row .book, .books .category .childrens-row .book, .books .category .other-row .book {
    width: 100%;
    justify-content: space-around;
  }
  .books .category .sets-row .book .bookImage, .books .category .history-row .book .bookImage, .books .category .horror-row .book .bookImage, .books .category .childrens-row .book .bookImage, .books .category .other-row .book .bookImage {
    width: 40%;
    height: 200px;
    overflow: hidden;
  }
  .books .category .sets-row .book .bookImage img, .books .category .history-row .book .bookImage img, .books .category .horror-row .book .bookImage img, .books .category .childrens-row .book .bookImage img, .books .category .other-row .book .bookImage img {
    width: 100%;
  }
  .books .category .sets-row .book .bookInfo, .books .category .history-row .book .bookInfo, .books .category .horror-row .book .bookInfo, .books .category .childrens-row .book .bookInfo, .books .category .other-row .book .bookInfo {
    width: 40%;
  }
  .books .category .sets-row .book .bookInfo p, .books .category .history-row .book .bookInfo p, .books .category .horror-row .book .bookInfo p, .books .category .childrens-row .book .bookInfo p, .books .category .other-row .book .bookInfo p {
    width: 100%;
  }
  .books .category .sets-row .book .bookInfo button, .books .category .history-row .book .bookInfo button, .books .category .horror-row .book .bookInfo button, .books .category .childrens-row .book .bookInfo button, .books .category .other-row .book .bookInfo button {
    width: 100%;
  }
}
.account-wrapper {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.account-wrapper .login h2 {
  font-weight: normal;
  font-size: 26px;
}
.account-wrapper .login .form {
  width: 350px;
}
.account-wrapper .login .form .field {
  width: 300px;
  border-bottom: 1px solid #000;
  margin: 45px 0px;
}
.account-wrapper .login .form .field input {
  background: none;
  border: none;
  width: 150px;
  height: 50px;
}
.account-wrapper .login .form #submitLogin {
  margin: 0 auto;
  width: 170px;
  height: 45px;
  border: none;
  background-color: #587c83;
  color: #fff;
}
.account-wrapper .signup h4 {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 0px;
}
.account-wrapper .signup h2 {
  font-weight: normal;
  font-size: 26px;
}
.account-wrapper .signup .form {
  width: 350px;
}
.account-wrapper .signup .form .field {
  width: 300px;
  border-bottom: 1px solid #000;
  margin: 45px 0px;
}
.account-wrapper .signup .form .field input {
  background: none;
  border: none;
  width: 150px;
  height: 50px;
}
.account-wrapper .signup .form #submitSignup {
  margin: 0 auto;
  width: 170px;
  height: 45px;
  border: none;
  background-color: #587c83;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .account-wrapper {
    flex-direction: column;
  }
  .account-wrapper .login {
    margin-top: 50px;
    width: 90%;
  }
  .account-wrapper .login .form {
    width: 95%;
  }
  .account-wrapper .login .form .field {
    width: 100%;
  }
  .account-wrapper .login .form .field input {
    width: 80%;
  }
  .account-wrapper .signup {
    margin-top: 50px;
    width: 90%;
  }
  .account-wrapper .signup .form {
    width: 95%;
  }
  .account-wrapper .signup .form .field {
    width: 100%;
  }
  .account-wrapper .signup .form .field input {
    width: 80%;
  }
}
.cart-wrapper {
  width: 100%;
}
.cart-wrapper .items .book {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding-top: 100px;
  border-bottom: 2px solid #000;
}
.cart-wrapper .items .book p {
  width: 200px;
}
.cart-wrapper .items .book .bookImage {
  width: 200px;
  height: 315px;
  overflow: hidden;
  margin-right: 10px;
}
.cart-wrapper .items .book .bookImage img {
  width: 100%;
}
.cart-wrapper .items .book .qty {
  display: flex;
  width: 150px;
  margin-top: 50px;
}
.cart-wrapper .items .book .qty .links {
  width: 120px;
  display: flex;
  justify-content: space-between;
}
.cart-wrapper .items .book .qty .links a {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .cart-wrapper .items .book {
    width: 95%;
    padding-top: 50px;
  }
  .cart-wrapper .items .book .bookImage {
    width: 30%;
  }
  .cart-wrapper .items .book .bookInfo {
    width: 60%;
  }
}
.blog-wrapper {
  width: 100%;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.blog-wrapper .blog-item {
  margin: 0 auto;
  width: 80%;
  min-height: 465px;
  margin-top: 125px;
  background-color: #587C83;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-wrapper .blog-item .blog-images {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.blog-wrapper .blog-item .blog-images img {
  width: 40%;
}
.blog-wrapper .blog-item .blog-image {
  width: 40%;
  height: 465px;
  overflow: hidden;
}
.blog-wrapper .blog-item .blog-image img {
  height: 100%;
}
.blog-wrapper .blog-item .blog-text {
  width: 45%;
  text-align: center;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-wrapper .blog-item .blog-text h1 {
  text-transform: uppercase;
  font-size: 32px;
}
.blog-wrapper .blog-item .blog-text p {
  width: 60%;
  margin: auto;
}
.blog-wrapper .blog-item .blog-text button {
  background-color: #587C83;
  border: 1px solid #fff;
  width: 50%;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}
.blog-wrapper .blog-item .blog-text button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 768px) {
  .blog-wrapper .blog-item {
    width: 95%;
  }
  .blog-wrapper .blog-item .blog-text {
    width: 50%;
    height: 100%;
  }
  .blog-wrapper .blog-item .blog-text h1 {
    font-size: 16px;
  }
  .blog-wrapper .blog-item .blog-text p {
    font-size: 12px;
    width: 100%;
    margin-bottom: 20px;
  }
}
.blog-post {
  width: 100%;
  padding: 140px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.blog-post .blog-hero {
  width: 80%;
  height: 465px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}
.blog-post .blog-hero h1 {
  font-size: 32px;
  text-transform: uppercase;
}
.blog-post .blog-hero h2 {
  font-size: 26px;
}
.blog-post .blog-hero h3 {
  font-size: 16px;
}
.blog-post #feb-fave {
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url("../images/february-favorites-hero.jpg");
}
.blog-post #bookclubs {
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url("../images/book-club-hero.jpg");
}
.blog-post #ereading {
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url("../images/eread-hero.jpg");
}
.blog-post .book-feature {
  width: 85%;
  padding-top: 140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.blog-post .book-feature .book-image {
  width: 250px;
  height: 380px;
  overflow: hidden;
}
.blog-post .book-feature .book-image img {
  width: 100%;
}
.blog-post .book-feature .book-text {
  width: 80%;
}
.blog-post .book-feature .book-text h1 {
  font-size: 26px;
}
.blog-post .blog-feature {
  width: 85%;
  padding-top: 140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.blog-post .blog-feature .blog-image {
  width: 625px;
  height: 465px;
  overflow: hidden;
}
.blog-post .blog-feature .blog-image img {
  width: 100%;
}
.blog-post .blog-feature .blog-text {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .blog-post {
    padding: 20px;
  }
  .blog-post .blog-hero {
    width: 90%;
  }
  .blog-post .book-feature {
    width: 95%;
    padding-top: 50px;
  }
  .blog-post .book-feature .book-image {
    width: 25%;
  }
  .blog-post .book-feature .book-text {
    width: 70%;
  }
  .blog-post .book-feature .book-text h1 {
    font-size: 16px;
  }
  .blog-post .blog-feature {
    width: 95%;
    padding-top: 50px;
  }
  .blog-post .blog-feature .blog-image {
    width: 40%;
    height: 465px;
    overflow: hidden;
  }
  .blog-post .blog-feature .blog-image img {
    width: 100%;
  }
  .blog-post .blog-feature .blog-text {
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
