.about-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-section{
        width: 90%;
        min-height: 600px;
        margin: 150px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .image{
            width: 395px;
            height: 590px;
            overflow: hidden;
            img{
                height: 100%;
            }
        }
        .text{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width: 70%;
            h1{
                text-align: center;
                text-transform: uppercase;
                font-size: 32px;
            }
            h2{
                font-size: 26px;
                text-align: center;
            }
            p{
                margin: 100px 0px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .about-wrapper{
        .about-section{
            width: 98%;
            margin-top: 10px;
            margin-bottom: 0px;

            .image{
                width: 210px;
                height: 345px;
            }
            .text{
                h1, h2{
                    font-size: 12px;
                }p{
                    font-size: 11px;
                    margin: 50px 0px;
                }
            }
        }

    }
}
@media screen and (max-width: 425px){
    .about-wrapper{
        .about-section{
            width: 98%;
            margin-top: 0px;

            .image{
                width: 100px;
                height: 150px;
            }
            .text{
                h1, h2{
                    font-size: 12px;
                }p{
                    font-size: 11px;
                    margin: 50px 0px;
                }
            }
        }

    }
}