.books{
    margin: 0 auto;
    padding-top: 50px;
    width: 90%;

    .category{
        margin: 150px 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        h1{
            text-transform: uppercase;
        }

        .sets-row, .history-row, .horror-row, .childrens-row, .other-row{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .book{
                display: flex;
                width: 500px;
    
                
                .bookImage{
                    width: 40%;
                    height: 315px;
                    overflow: hidden;
                    margin-right: 10px;
    
                    img{
                        width: 100%;
                    }
                    
                }
       
                .bookInfo{
                    width: 40%;
                    button{
                        width: 90%;
                        height: 70px;
                        text-transform: uppercase;
                        background-color: #fff;
                        text-align: center;
                        
                    }
                    button:hover{
                        cursor: pointer;
                        background-color: rgba(88,124,131,0.6);
                    }
                }
                
            }
        }
    }

}
@media screen and (max-width: 768px){
    .books{
        width: 95%;
        .category{
            margin: 50px 0px;
            margin-bottom: 25px;

            .sets-row, .history-row, .horror-row, .childrens-row, .other-row{
                flex-direction: column;

                .book{
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 425px){
    .books{
        width: 95%;
        .category{
            margin: 50px 0px;

            .sets-row, .history-row, .horror-row, .childrens-row, .other-row{
                flex-direction: column;

                .book{
                    width: 100%;
                    justify-content: space-around;
                    .bookImage{
                        width: 40%;
                        height: 200px;
                        overflow: hidden;
        
                        img{
                            width: 100%;
                        }
                        
                    }
                    .bookInfo{
                        width: 40%;
                        p{
                            width: 100%;
                        }
                        button{
                            width: 100%;
                            
                        }
                    }
                }
            }
        }
    }
}