.blog-wrapper{
    width: 100%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .blog-item{
        margin: 0 auto;
        width: 80%;
        min-height: 465px;
        margin-top: 125px;
        background-color: #587C83;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .blog-images{
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            img{
                width: 40%;
            }
        }

        .blog-image{
            width: 40%;
            height: 465px;
            overflow: hidden;
            img{
                height: 100%;
            }
        }

        .blog-text{
            width: 45%;
            text-align: center;
            height: 375px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1{
                text-transform: uppercase;
                font-size: 32px;
            }
            p{
                width: 60%;
                margin: auto;
            }
            button{
                background-color: #587C83;
                border: 1px solid #fff;
                width: 50%;
                height: 70px;
                color: #fff;
                text-transform: uppercase;
            }
            button:hover{
                cursor: pointer;
                background-color: rgba(255,255,255,0.4);
            }
        }
    }
}

@media screen and (max-width: 768px){
    .blog-wrapper{

        .blog-item{
            width: 95%;

            .blog-text{
                width: 50%;
                height: 100%;
                h1{
                    font-size: 16px
                }p{
                    font-size: 12px;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}