footer{
    width: 100%;
    height: 92px;
    margin-top: 175px;
    background-color: #587C83;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0px 100px;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .copyright{
        width: 20%;
        p{
            margin: 0px;
            padding: 0px;
        }
    }
    
    .links{
        width: 40%;
        display: flex;
        justify-content: space-between;
        a{
            color: #fff;
            text-decoration: none;
        }
    }
    .icons{
        width: 20%;
        display: flex;
        justify-content: space-between;
        img{
            width: 44px;
        }
    }
}

@media screen and (max-width: 768px){
    footer{
        justify-content: space-around;
        padding: 0px;
        .icons{
            justify-content: space-around;
            img{
                width: 22px;
            }
        }
    }
}
@media screen and (max-width: 425px){
    footer{
        justify-content: space-between;

        .icons{
            width: 10%;
            flex-direction: column;
        }
    }
}